<h2>Search Results:</h2>

<ul>
  <% @search.results.each do |result| %>
    <li> <%= result['title'] %>
      <div>
         <img src="<%= result["thumb"]%>" >
       </div>
       <hr>
    </li>
  <% end %>
</ul>
